@model ProjetoTrails4Health.Models.Agenda_Turista_Trilho


@{
    ViewData["Title"] = "Criar";
}

<h2>Criar</h2>


Trilho selecionado: @Model.Trilho.Nome_Trilho

<form asp-action="AgendarTrilho">
    <div class="form-horizontal">
        <h4>Agendar Trilho</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      
        <!--<p class="gallery">
            <img src="~/images/banner22.jpg" alt="Visual Studio" class="img-responsive" width="200" height="300" />
            <p> Trilho 1</p>
            <img src="~/images/banner33.jpg" alt="Visual Studio" class="img-responsive" width="200" height="300" />
            <p> Trilho 2</p>
            <img src="~/images/banner44.jpg" alt="Visual Studio" class="img-responsive" width="200" height="300" />
            <p> Trilho 3</p>
            <img src="~/images/banner11.jpg" alt="Visual Studio" class="img-responsive" width="200" height="300" />
            <p> Trilho 4</p>
             </div> 
        -->
        
        @*<div class="form-group">
            <label asp-for="Trilho" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TrilhoId" class ="form-control" asp-items="ViewBag.TrilhoId"></select>
            </div>
        </div>*@
        
       

        <input asp-for="TrilhoId" style="visibility" type="hidden" value="@Model.Trilho.TrilhoId" />
        <div class="form-group">
            <label asp-for="Data_Prevista_Inicio_Trilho" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Data_Prevista_Inicio_Trilho" class="form-control" />
                <span asp-validation-for="Data_Prevista_Inicio_Trilho" class="text-danger"></span>
            </div>
        </div>
       <!--<div class="form-group">
            <label asp-for="Estado_Agendamento" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Estado_Agendamento" class="form-control" />
                <span asp-validation-for="Estado_Agendamento" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Data_Estado_Agendamento" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Data_Estado_Agendamento" class="form-control" />
                <span asp-validation-for="Data_Estado_Agendamento" class="text-danger"></span>
            </div>
        </div>--> 
        @*<td>
            <a asp-action="Edit" asp-route-id="@Model.Trilho.TrilhoId">Editar</a> |
            <a asp-action="Details" asp-route-id="@Model.Turista.TuristaId">Selecionar</a> |
            <a asp-action="Delete" asp-route-id="@Model.Turista.TuristaId">Apagar</a>
        </td>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agendar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

