@model IEnumerable<ProjetoTrails4Health.Models.Trilho>

@{
    ViewData["Title"] = "Lista de Trilhos";
}

<h2>Lista de Trilhos</h2>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome_Trilho)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Local_Inicio_Trilho)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Local_Fim_Trilho)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Distancia_Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duracao_Media)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Esta_Ativo)
                </th>
               
            <th>
                @Html.DisplayNameFor(model => model.Dificuldade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_Trilho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local_Inicio_Trilho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local_Fim_Trilho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distancia_Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracao_Media)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Esta_Ativo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Dificuldade.NomeDificuldade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrilhoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TrilhoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.TrilhoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
