@model ProjetoTrails4Health.Models.Turista

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

<h3>tem certeza que quer eliminar?</h3>
<div>
    <h4>Turista</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="TuristaId" />
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodPostal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodPostal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telemovel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NIF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NIF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrilhoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrilhoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Voltar à lista</a>
        </div>
    </form>
</div>
